![Alt text](https://imgur.com/orZWHly.png=80)
source: @allison_horst https://github.com/allisonhorst/penguins

You have been asked to support a team of researchers who have been collecting data about penguins in Antartica! The data is available in csv-Format as `penguins.csv`

**Origin of this data** : Data were collected and made available by Dr. Kristen Gorman and the Palmer Station, Antarctica LTER, a member of the Long Term Ecological Research Network.

**The dataset consists of 5 columns.**

Column | Description
--- | ---
culmen_length_mm | culmen length (mm)
culmen_depth_mm | culmen depth (mm)
flipper_length_mm | flipper length (mm)
body_mass_g | body mass (g)
sex | penguin sex

Unfortunately, they have not been able to record the species of penguin, but they know that there are **at least three** species that are native to the region: **Adelie**, **Chinstrap**, and **Gentoo**.  Your task is to apply your data science skills to help them identify groups in the dataset!

In [ ]:
# Import Required Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

# Loading and examining the dataset
penguins_df = pd.read_csv("penguins.csv")
penguins_df['sex'] = np.where(penguins_df['sex'] == 'MALE', 1, 0)
penguins_df.head()

   culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g  sex
0              39.1             18.7              181.0       3750.0    1
1              39.5             17.4              186.0       3800.0    0
2              40.3             18.0              195.0       3250.0    0
3              36.7             19.3              193.0       3450.0    0
4              39.3             20.6              190.0       3650.0    1

In [ ]:
scaler = StandardScaler()
kmeans = KMeans(n_clusters = 3)
pipeline = make_pipeline(scaler, kmeans)

penguins_df['labels'] = pipeline.fit_predict(penguins_df)

c:\Users\ruoyu\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1419: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=2.
  warnings.warn(

In [20]:
stat_penguins = penguins_df.groupby('labels').mean()
print(stat_penguins)

        culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g  \
labels
0              43.878302        19.111321         194.764151  4006.603774
1              47.568067        14.996639         217.235294  5092.436975
2              40.217757        17.611215         189.046729  3419.158879

             sex
labels
0       1.000000
1       0.512605
2       0.000000